.wrap:after, .header__top:after, .nav ul:after, .soc:after, .footer:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset { border: none; }

input[type="submit"], button { cursor: pointer; }

input[type='submit']::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

table { border-spacing: 0; border-collapse: collapse; }

* { -webkit-text-size-adjust: none; }

/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body { min-width: 320px; color: #383838; font: normal 14px/1.4 "Calibri", Arial, sans-serif; }

a { color: #1682c5; }

.l-layout { margin: 0 auto -101px; position: relative; min-height: 100%; height: auto !important; height: 100%; }

.push { clear: both; height: 100px; }

.wrapper { overflow: hidden; }

/* ------------------------------------ //END Main styles --------------------------------------- */
/* ----------------------------------------- Header --------------------------------------------- */
.header__top { padding: 19px 10px 5px; border-bottom: 1px solid #2a2a2a; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMxMzEzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #313131)); background-image: -webkit-linear-gradient(top, #000000, #313131); background-image: -moz-linear-gradient(top, #000000, #313131); background-image: -o-linear-gradient(top, #000000, #313131); background-image: -ms-linear-gradient(top, #000000, #313131); background-image: linear-gradient(top, #000000, #313131); }

.header__logo { float: left; }
.header__logo a { display: block; background: url('../img/icons-sac8dc9510f.png') 0 -2258px no-repeat; background-position: 0 -1129px; width: 109.5px; height: 37.5px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.nav { padding-top: 30px; clear: both; }
.nav li { position: relative; float: left; width: 25%; text-align: center; }
.nav li:last-child:after { display: none; }
.nav li:after { content: ""; position: absolute; right: -8%; top: 5px; background: url('../img/icons-sac8dc9510f.png') 0 -2795px no-repeat; background-position: 0 -1398px; width: 9.5px; height: 11px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }
.nav a { color: #c1c1c1; text-decoration: none; }

.header__bottom { height: 126px; background: url(../img/header-bg.png) 0 0 repeat-x; }

/* -------------------------------------- //END Header ------------------------------------------ */
/* ------------------------------------- Independent blocks -------------------------------------- */
.icon { display: inline-block; }

.icon_team { background: url('../img/icons-sac8dc9510f.png') 0 0 no-repeat; background-position: 0 0; width: 129px; height: 132px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.icon_smile { background: url('../img/icons-sac8dc9510f.png') 0 -274px no-repeat; background-position: 0 -137px; width: 110.5px; height: 110.5px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.icon_ifunny { background: url('../img/icons-sac8dc9510f.png') 0 -2173px no-repeat; background-position: 0 -1087px; width: 152.5px; height: 37.5px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.icon_android-s { background: url('../img/icons-sac8dc9510f.png') 0 -2551px no-repeat; background-position: 0 -1276px; width: 25px; height: 27px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.icon_ios-s { background: url('../img/icons-sac8dc9510f.png') 0 -2487px no-repeat; background-position: 0 -1244px; width: 25px; height: 27px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.icon_ios { background: url('../img/icons-sac8dc9510f.png') 0 -1159px no-repeat; background-position: 0 -580px; width: 95px; height: 112.5px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.icon_android { background: url('../img/icons-sac8dc9510f.png') 0 -1629px no-repeat; background-position: 0 -815px; width: 112px; height: 95px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.icon_php { background: url('../img/icons-sac8dc9510f.png') 0 -1394px no-repeat; background-position: 0 -697px; width: 95px; height: 112.5px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.icon_tester { background: url('../img/icons-sac8dc9510f.png') 0 -959px no-repeat; background-position: 0 -480px; width: 112px; height: 95px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.icon_frontend { background: url('../img/icons-sac8dc9510f.png') 0 -1829px no-repeat; background-position: 0 -915px; width: 112px; height: 95px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.icon_help { background: url('../img/icons-sac8dc9510f.png') 0 -2029px no-repeat; background-position: 0 -1015px; width: 67px; height: 67px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.soc { float: right; }
.soc li { float: left; margin-left: 12px; }
.soc a { display: block; }

.soc__tw { background: url('../img/icons-sac8dc9510f.png') 0 -2427px no-repeat; background-position: 0 -1214px; width: 25px; height: 25px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.soc__fb { background: url('../img/icons-sac8dc9510f.png') 0 -2735px no-repeat; background-position: 0 -1368px; width: 25px; height: 25px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.soc__vk { background: url('../img/icons-sac8dc9510f.png') 0 -2615px no-repeat; background-position: 0 -1308px; width: 25px; height: 25px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.soc__h { background: url('../img/icons-sac8dc9510f.png') 0 -2675px no-repeat; background-position: 0 -1338px; width: 25px; height: 25px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

.digit { display: inline-block; padding: 1px; width: 24px; height: 37px; color: #3ea2d1; font-size: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk4OTg5OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #989898)); background-image: -webkit-linear-gradient(top, #c4c4c4, #989898); background-image: -moz-linear-gradient(top, #c4c4c4, #989898); background-image: -o-linear-gradient(top, #c4c4c4, #989898); background-image: -ms-linear-gradient(top, #c4c4c4, #989898); background-image: linear-gradient(top, #c4c4c4, #989898); }

.digit__wrap { display: block; height: 35px; line-height: 34px; text-align: center; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZGZkZmRmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkNWQ1ZDUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(50%, #dfdfdf), color-stop(50%, #d5d5d5), color-stop(100%, #f0f0f0)); background-image: -webkit-linear-gradient(top, #f4f4f4, #dfdfdf 50%, #d5d5d5 50%, #f0f0f0); background-image: -moz-linear-gradient(top, #f4f4f4, #dfdfdf 50%, #d5d5d5 50%, #f0f0f0); background-image: -o-linear-gradient(top, #f4f4f4, #dfdfdf 50%, #d5d5d5 50%, #f0f0f0); background-image: -ms-linear-gradient(top, #f4f4f4, #dfdfdf 50%, #d5d5d5 50%, #f0f0f0); background-image: linear-gradient(top, #f4f4f4, #dfdfdf 50%, #d5d5d5 50%, #f0f0f0); }
.digit__wrap i { font-style: normal; color: #3ea2d1; }

/* ---------------------------------- //END Independent blocks ----------------------------------- */
/* ----------------------------------------- Footer ---------------------------------------------- */
.footer { position: relative; padding: 25px 10px 0; height: 75px; }
.footer .soc { padding-top: 5px; }

.footer__info { float: left; text-align: right; }

.footer__logo { display: block; margin-bottom: 2px; background: url('../img/icons-sac8dc9510f.png') 0 -2343px no-repeat; background-position: 0 -1172px; width: 109px; height: 37px; -moz-background-size: 300px 1409px; -webkit-background-size: 300px 1409px; background-size: 300px 1409px; }

/* -------------------------------------- //END Footer ------------------------------------------- */
