.wrap:after, .header__top:after, .nav ul:after, .soc:after, .footer:after, .team:after, .job-nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset { border: none; }

input[type="submit"], button { cursor: pointer; }

input[type='submit']::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

table { border-spacing: 0; border-collapse: collapse; }

* { -webkit-text-size-adjust: none; }

/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body { min-width: 320px; color: #383838; font: normal 14px/1.4 "Calibri", Arial, sans-serif; background: #f2f2f2 url(../img/body-bg.png) 0 0 repeat; }

a { color: #1682c5; }

.l-layout { margin: 0 auto -101px; position: relative; min-height: 100%; height: auto !important; height: 100%; }

.push { clear: both; height: 100px; }

.wrapper { overflow: hidden; }

/* ------------------------------------ //END Main styles --------------------------------------- */
/* ----------------------------------------- Header --------------------------------------------- */
.header__top { padding: 19px 10px 5px; border-bottom: 1px solid #2a2a2a; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMxMzEzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #313131)); background-image: -webkit-linear-gradient(top, #000000, #313131); background-image: -moz-linear-gradient(top, #000000, #313131); background-image: -o-linear-gradient(top, #000000, #313131); background-image: linear-gradient(top, #000000, #313131); }

.header__logo { float: left; }
.header__logo a { display: block; background: url('../img/icons-s07cd480cd8.png') 0 -2558px no-repeat; background-position: 0 -1279px; width: 109.5px; height: 37.5px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.nav { padding-top: 30px; clear: both; }
.nav li { position: relative; float: left; width: 25%; text-align: center; }
.nav li:last-child:after { display: none; }
.nav li:nth-child(2):after { right: 0; }
.nav li:after { content: ""; position: absolute; right: -7%; top: 5px; background: url('../img/icons-s07cd480cd8.png') 0 -3095px no-repeat; background-position: 0 -1548px; width: 9.5px; height: 11px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }
.nav a { color: #c1c1c1; text-decoration: none; }

.header__bottom { height: 126px; background: url(../img/header-bg.png) 0 0 repeat-x; }

/* -------------------------------------- //END Header ------------------------------------------ */
/* ------------------------------------- Independent blocks -------------------------------------- */
.icon { display: inline-block; }

.icon_team { background: url('../img/icons-s07cd480cd8.png') 0 0 no-repeat; background-position: 0 0; width: 129px; height: 132px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.icon_smile { background: url('../img/icons-s07cd480cd8.png') 0 -574px no-repeat; background-position: 0 -287px; width: 110.5px; height: 110.5px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.icon_ifunny { background: url('../img/icons-s07cd480cd8.png') 0 -2473px no-repeat; background-position: 0 -1237px; width: 152.5px; height: 37.5px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.icon_android-s { background: url('../img/icons-s07cd480cd8.png') 0 -2851px no-repeat; background-position: 0 -1426px; width: 25px; height: 27px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.icon_ios-s { background: url('../img/icons-s07cd480cd8.png') 0 -2787px no-repeat; background-position: 0 -1394px; width: 25px; height: 27px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.icon_ios { background: url('../img/icons-s07cd480cd8.png') 0 -1459px no-repeat; background-position: 0 -730px; width: 95px; height: 112.5px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.icon_android { background: url('../img/icons-s07cd480cd8.png') 0 -1929px no-repeat; background-position: 0 -965px; width: 112px; height: 95px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.icon_php { background: url('../img/icons-s07cd480cd8.png') 0 -1694px no-repeat; background-position: 0 -847px; width: 95px; height: 112.5px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.icon_tester { background: url('../img/icons-s07cd480cd8.png') 0 -1259px no-repeat; background-position: 0 -630px; width: 112px; height: 95px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.icon_frontend { background: url('../img/icons-s07cd480cd8.png') 0 -2129px no-repeat; background-position: 0 -1065px; width: 112px; height: 95px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.icon_help { background: url('../img/icons-s07cd480cd8.png') 0 -2329px no-repeat; background-position: 0 -1165px; width: 67px; height: 67px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.soc { float: right; }
.soc li { float: left; margin-left: 12px; }
.soc a { display: block; }

.soc__tw { background: url('../img/icons-s07cd480cd8.png') 0 -2727px no-repeat; background-position: 0 -1364px; width: 25px; height: 25px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.soc__fb { background: url('../img/icons-s07cd480cd8.png') 0 -3035px no-repeat; background-position: 0 -1518px; width: 25px; height: 25px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.soc__vk { background: url('../img/icons-s07cd480cd8.png') 0 -2915px no-repeat; background-position: 0 -1458px; width: 25px; height: 25px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.soc__h { background: url('../img/icons-s07cd480cd8.png') 0 -2975px no-repeat; background-position: 0 -1488px; width: 25px; height: 25px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.digit { display: inline-block; padding: 1px; width: 24px; height: 37px; color: #3ea2d1; font-size: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk4OTg5OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #989898)); background-image: -webkit-linear-gradient(top, #c4c4c4, #989898); background-image: -moz-linear-gradient(top, #c4c4c4, #989898); background-image: -o-linear-gradient(top, #c4c4c4, #989898); background-image: linear-gradient(top, #c4c4c4, #989898); }

.digit__wrap { display: block; height: 35px; line-height: 34px; text-align: center; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZGZkZmRmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkNWQ1ZDUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(50%, #dfdfdf), color-stop(50%, #d5d5d5), color-stop(100%, #f0f0f0)); background-image: -webkit-linear-gradient(top, #f4f4f4, #dfdfdf 50%, #d5d5d5 50%, #f0f0f0); background-image: -moz-linear-gradient(top, #f4f4f4, #dfdfdf 50%, #d5d5d5 50%, #f0f0f0); background-image: -o-linear-gradient(top, #f4f4f4, #dfdfdf 50%, #d5d5d5 50%, #f0f0f0); background-image: linear-gradient(top, #f4f4f4, #dfdfdf 50%, #d5d5d5 50%, #f0f0f0); }
.digit__wrap i { font-style: normal; color: #3ea2d1; }

.btn-wrap { text-align: center; }

.btn { display: inline-block; padding: 0 16px; height: 36px; line-height: 36px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; background: #056fcf; color: #fff; text-decoration: none; -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.27), inset 0 -1px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.27), inset 0 -1px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.27), inset 0 -1px 0 rgba(0, 0, 0, 0.15); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNDMzNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNzA0NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff4337), color-stop(100%, #ff7044)); background-image: -webkit-linear-gradient(bottom, #ff4337 0%, #ff7044 100%); background-image: -moz-linear-gradient(bottom, #ff4337 0%, #ff7044 100%); background-image: -o-linear-gradient(bottom, #ff4337 0%, #ff7044 100%); background-image: linear-gradient(bottom, #ff4337 0%, #ff7044 100%); }

.overlay { display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }

.wtf { position: relative; color: #1682c5; cursor: pointer; border-bottom: 1px dashed #1682c5; }

.tooltip { display: none; position: absolute; left: -114px; top: 33px; z-index: 2000; padding: 13px; width: 300px; color: #000; font-size: 11px; background: #fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15); box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15); }
@media only screen and (max-width: 480px) { .tooltip { left: -128px; } }
.tooltip:before { content: ""; position: absolute; top: -10px; left: 50%; margin-left: -20px; background: url('../img/icons-s07cd480cd8.png') 0 -3127px no-repeat; background-position: 0 -1564px; width: 19.5px; height: 11px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

/* ---------------------------------- //END Independent blocks ----------------------------------- */
/* ----------------------------------------- Footer ---------------------------------------------- */
.footer { position: relative; padding: 25px 10px 0; height: 75px; }
.footer .soc { padding-top: 5px; }

.footer__info { float: left; text-align: right; }

.footer__logo { display: block; margin-bottom: 2px; background: url('../img/icons-s07cd480cd8.png') 0 -2643px no-repeat; background-position: 0 -1322px; width: 109px; height: 37px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

/* -------------------------------------- //END Footer ------------------------------------------- */
.wrap:after, .header__top:after, .nav ul:after, .soc:after, .footer:after, .team:after, .job-nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.team { margin: -20px 0 28px; }
.team .icon_team { float: left; }
@media only screen and (max-width: 320px) { .team .icon_team { margin-left: -7px; } }

.team__title { float: right; margin-top: 68px; line-height: 1; }
@media only screen and (max-width: 320px) { .team__title { margin-right: -10px; } }
.team__title span { display: block; font-size: 30px; }

.team__text { clear: both; padding-top: 25px; }

.history { margin: 0 auto 32px; padding: 21px 10px 0 17px; color: #fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: url('../img/icons-s07cd480cd8.png') 0 -805px no-repeat; background-position: 0 -403px; width: 300px; height: 222px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.history__date { margin-bottom: 42px; line-height: 1; }
.history__date span { display: block; font-size: 40px; white-space: nowrap; }

.ifunny { margin-bottom: 17px; }
.ifunny .icon_smile { float: left; }

.ifunny__main { float: right; padding-top: 38px; text-align: center; }
.ifunny__main .icon_ifunny { display: block; margin-bottom: 8px; }
.ifunny__main .icon_android, .ifunny__main .icon_ios { vertical-align: middle; }

.ifunny__about { clear: both; padding-top: 25px; }

.jobs-wrap p { margin-bottom: 12px; }

.job { padding: 18px 0 0 25px; text-align: justify; }
.job ol li { margin-bottom: 12px; }

.job__item { display: inline-block; vertical-align: top; }
.job__item:last-child { width: 100%; height: 0; }
.job__item div { margin-bottom: 18px; height: 112px; line-height: 112px; }
.job__item div .icon { vertical-align: bottom; }

.wrap:after, .header__top:after, .nav ul:after, .soc:after, .footer:after, .team:after, .job-nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.main { padding: 0 10px; }
.main p { margin-bottom: 12px; }

.page-title { margin-bottom: 25px; }
.page-title .icon { margin-right: 15px; vertical-align: middle; }
.page-title .title-l-2 { display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 480px) { .page-title span { display: block; } }

.title-l-1 { font-size: 25px; }

.help { margin-top: 36px; }

.job-nav { padding: 15px 0; }
.job-nav ul { float: left; width: 45%; }
.job-nav ul:last-child { float: right; }
.job-nav li { margin-bottom: 2px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.job-nav li a { display: block; padding: 5px 15px; line-height: 1; }
.job-nav .is-active { background: #247bc1; }
.job-nav .is-active a { color: #fff; text-decoration: none; }

.money { padding: 12px 0 26px; text-align: center; }
.money .digit { vertical-align: middle; }
.money .digit_mod { margin-right: 5px; }
.money strong { display: inline-block; margin: 0 5px; font-size: 35px; font-weight: normal; vertical-align: middle; }

.vacancy { margin-top: 25px; }
.vacancy ul { margin-bottom: 12px; }
.vacancy li { position: relative; padding-left: 15px; margin-bottom: 15px; }
.vacancy li:before { content: ""; position: absolute; left: 0; top: 9px; width: 10px; height: 1px; background: #383838; }

.info-item { margin: 25px 0 32px; padding: 15px 17px; border: 1px solid #aaaaaa; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.vac-title { margin-bottom: 8px; padding: 0 5px 0 12px; line-height: 70px; font-size: 18px; color: #fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 480px) { .vac-title { font-size: 16px; } }
.vac-title span { display: inline-block; line-height: 1; }

.skill-title { background: url('../img/icons-s07cd480cd8.png') 0 -424px no-repeat; background-position: 0 -212px; width: 227.5px; height: 70px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.cookie-title { background: url('../img/icons-s07cd480cd8.png') 0 -274px no-repeat; background-position: 0 -137px; width: 227.5px; height: 70px; -moz-background-size: 300px 1575px; -webkit-background-size: 300px 1575px; background-size: 300px 1575px; }

.fb-like { padding: 11px 0 0 37px; }
