@import "base";
.main {
    padding: 0 10px;
    p {
        margin-bottom: 12px; 
    }
}
.page-title {
    margin-bottom: 25px;
    .icon {
        margin-right: 15px;
        vertical-align: middle;
    }
    .title-l-2 {
        display: inline-block;
        vertical-align: middle;
    }
    span {
        @include respond-to(lan) {
            display: block;
        }
    }
}
.title-l-1 {
    font-size: 25px;
}
.help {
    margin-top: 36px;
}
.job-nav {
    padding: 15px 0;
    @extend %clr;
    ul {
        float: left;
        width: 45%;
        &:last-child {
            float: right;
        }
    }
    li {
        margin-bottom: 2px;
        @include border-radius(4px);
        a {
            display: block;
            padding: 5px 15px;
            line-height: 1;
        }
    }
    .is-active {
        background: #247bc1;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.money {
    padding: 12px 0 26px;
    text-align: center;
    .digit {
        vertical-align: middle;
    }
    .digit_mod {
        margin-right: 5px;
    }
    strong {
        display: inline-block;
        margin: 0 5px;
        font-size: 35px;
        font-weight: normal;
        vertical-align: middle;
    }
}
.vacancy {
    margin-top: 25px;
    ul {
        margin-bottom: 12px;
    }
    li {
        position: relative;
        padding-left: 15px;
        margin-bottom: 15px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 9px;
            width: 10px;
            height: 1px;
            background: #383838;
        }
    }
}
.info-item {
    margin: 25px 0 32px;
    padding: 15px 17px;
    border: 1px solid #aaa;
    @include border-radius(5px);
}
.vac-title {
    margin-bottom: 8px;
    padding: 0 5px 0 12px;
    line-height: 70px;
    font-size: 18px;
    color: #fff;
    @include box-sizing(border-box);
    @include respond-to(lan) {
        font-size: 16px;
    }
    span { 
        display: inline-block;
        line-height: 1;
    }
}
.skill-title {@include sized-spriter($icons, skills);}
.cookie-title {@include sized-spriter($icons, cookie);}

.fb-like {
    padding: 11px 0 0 37px;
}